* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #180a29;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 350px;
  height: 550px;
  margin: 100px auto;
  padding: 0.5rem;
  position: relative;
}

fieldset {
  border: none;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.logo svg {
  position: absolute;
  top: -30px;
}

label {
  position: relative;
  bottom: 5px;
  margin-left: 5px;
}

input {
  font-family: 'Nunito', sans-serif;
  padding: 7px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.1px solid #7f7c8e;
}

.login,
.password {
  padding: 12px;
}

.password {
  height: 80px;
}

.data {
  padding: 5px;
}

.icon-eye {
  color: black;
  position: relative;
  left: 260px;
  bottom: 32px;
}

.icon-eye img {
  width: 27px;
}

.forget-password {
  text-align: end;
  margin-right: 16px;
  font-size: small;
  color: rgb(196, 186, 186);
}

.button-login button {
  width: 100%;
  background: #00c278;
  border-color: rgb(0, 194, 120);
  margin: 20px 0;
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  padding: 16px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.social-media {
  display: flex;
  justify-content: center;
}

.google-icon {
  margin-right: 30px;
}

.registration {
  width: 210px;
  height: 18px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 500px;
  margin: auto;
}

.registration a p {
  font-size: 14px;
}

.registration a p span {
  font-weight: bold;
  color: #00c278;
}

.social-media {
  display: flex;
  align-items: center;
}

.google-icon img {
  width: 25px;
  height: 30px;
}

.facebook-icon img {
  width: 30px;
  height: 30px;
}
